// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

  #primary-menu > li > a{
    color:#555;
  }
  #wp-menu {
    height: unset; /* 100% Full-height */
    width: auto !important; /* 0 width - change this with JavaScript */
    position: unset; /* Stay in place */
    z-index: 1; /* Stay on top */
    background-color: unset; /* Black*/
    box-shadow: none;
    overflow-x: unset; /* Disable horizontal scroll */
    padding-top: 0em; /* Place content 3.75em from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */


  }
  #wp-menu  > li {
    text-align: right;
    display: block;
    font-size: 0.8125em;
    position: relative;
  }
  #wp-menu >li > a {
    color: #fff;
    font-weight: bold;
  }

  #primary-menu {
    list-style: none;
    display: inline;
    float: right;
    margin-bottom: 0;
    padding:0;
  }
  #primary-menu li ul {
    padding: 0 !important;
  }
  #primary-menu li ul .fa-angle-down {
    float: right;
    position: absolute;
    right: 0.625em;
    top: 0.625em;
  }
  #primary-menu > li > ul li {
    padding-left: 2em;
    padding-right: 1em;
  }
  #primary-menu > li > ul > li ul {
    position: absolute;
    left: 13.125em;
    top: 0;
  }
  #primary-menu ul {
    list-style: none;
    position: absolute;
    width: 15em;
  }
  #primary-menu > li {
    float: right;
    border-bottom: none;
  }
  #primary-menu >li:hover > ul {
    display: block;
  }
  #primary-menu >li:hover > ul li:hover > ul {
    display: block;
  }

  #primary-menu a {
    text-decoration: none;
    font-size: 0.9em;
    color: #818181;
    display: block;
    transition: 0.3s;
    padding: 12px 20px;
  }
  #primary-menu a:hover {
    color: $primary_color;
  }
  #primary-menu  .fa-angle-down {
    float: right;
    position: absolute;
    right: -0.9375em;
    top: 0.625em;
  }
  #primary-menu > li {
    float: right;
  }
  #primary-menu > li > ul > li ul {
    position: absolute;
    left: 0;
    right: 210px;
    top: 0;
  }

  #primary-menu > li .fa-angle-down {
    right: unset;
    left: -10px !important;
    top: 13px;
    color:#444;
    font-weight: 900;
  }

  #primary-menu > li > ul .fa-angle-down {
    right: unset;
    left: 15px !important;
    top: 13px;
  }

  #primary-menu li ul {
    text-align: right;
  }

  #primary-menu li ul a:before {
    right: 13px !important;
  }
}