.woocommerce {
  width: 100%;
  .woocommerce-checkout-review-order-table, table.shop_table {

    th {
      text-align: center !important;
    }
    td {
      text-align: center !important;
    }
  }
  button.button.alt {
    background: transparent !important;
    border: 1px solid $primary_color;
    border-radius: 20px;
    color: $primary_color !important;
    transition-duration: .3s;
    &:hover {
      background: $primary_color;
    }
  }
  a.checkout-button {
    background: transparent !important;
    border: 1px solid $primary_color;
    border-radius: 20px;
    color: $primary_color !important;
    transition-duration: .3s;
    &:hover {
      background: $primary_color !important;
      color: #fff !important;
    }
  }

  div.product {
    .woocommerce-tabs {
      ul.tabs {
        text-align: center;
        &:before {
          border-bottom: none;
        }
        li {
          background: transparent;
          border: none;
          border-radius: 20px;
          padding: 3px 60px;
          &.active{
            background: $primary_color;
          }
          &::before{
            width: unset;
            height: unset;
          }
          &::after{
            width: unset;
            height: unset;
          }
        }
      }
    }
    div.summary{
      width: unset;
      line-height: 30px;
      .title{
        background: #333;
        padding: 15px;
        border-radius: 20px;
        margin-bottom: 15px;
      }
    }
    form.cart .button{
      margin-right: 10px;
      padding: 15px 35px !important;
      &:hover{
        background: $primary_color !important;
        color: #fff !important;

      }
    }
  }
}

.woocommerce-cart, .woocommerce-checkout {
  .woocommerce {
    background: #fff;
    color: #333;
    padding: 15px;
    border-radius: 20px;
    margin-bottom: 15px;
  }
}